$color-650-grey: #333333; // hsl(59,0%,20%)
$color-500-grey: #898984; // hsl(59,3%,53%)
$color-400-grey: #BDBDBD; // hsl(59,0%,74%)
$color-300-grey: #DCDCDC; // hsl(59,0%,86%)
$color-100-grey: #F6F6F6; // hsl(59,0%,96%)


$btn-active-bg-color: #00ADEE;
$danger-color: #ed5935;
$mortal-danger-color: #bc250c;
