@import "palette.scss";
@import "dimensions.scss";
@import "typography.scss";

@import "mixins/snapshot-list/snapshot-list__item.scss";

@mixin snapshot-list__item--active {
  @include snapshot-list__item;
  position: relative;
  background-color: $snapshot-list-item-hover-bg;
  color: white;
  &:before {
    content: ' ';
    display: inline-block
  }

}
