@import "palette.scss";
@import "dimensions.scss";
@import "typography.scss";
@import "mixins/utils/pull-left";
@mixin snapshot-list__item__index() {
  //your code goes here
  min-width: $snapshot-list-sidebar-width;
  padding: $snapshot-list-padding-vert 0;
  text-align: center;
}
