@import "palette.scss";
@import "dimensions.scss";
@import "typography.scss";

@mixin box($type) {

  box-sizing: border-box;
  display: block;
  padding: 10px;

  @if $type == 'primary' {
    background-color: white;
  }
  @else if $type == 'secondary' {
    background-color: $color-150-grey;
  }
  @else if $type == 'tertiary' {
    background-color: $color-300-grey;
  }

  &[skin=large] {
    padding: 7px 15px;
  }
}
