<gu-row>

  <gu-column span="12" gu-box="primary">

    <app-demo>
      <h2>Grid</h2>
      <app-demo-code>

          <gu-row variant="primary" skin="large">
            <gu-column gu-box="tertiary" span="1">
              Column Span 1
            </gu-column>
          </gu-row>

          <gu-row variant="primary" skin="large">
            <gu-column gu-box="tertiary" span="2">
              Column Span 2
            </gu-column>
          </gu-row>

          <gu-row variant="primary" skin="large">
            <gu-column gu-box="tertiary" span="3">
              Column Span 3
            </gu-column>
          </gu-row>

          <gu-row variant="primary" skin="large">
            <gu-column gu-box="tertiary" span="4">
              Column Span 4
            </gu-column>
          </gu-row>

          <gu-row variant="primary" skin="large">
            <gu-column gu-box="tertiary" span="5">
              Column Span 5
            </gu-column>
          </gu-row>

          <gu-row variant="primary" skin="large">
            <gu-column gu-box="tertiary" span="6">
              Column Span 6
            </gu-column>
          </gu-row>

          <gu-row variant="primary" skin="large">
            <gu-column gu-box="tertiary" span="7">
              Column Span 7
            </gu-column>
          </gu-row>

          <gu-row variant="primary" skin="large">
            <gu-column gu-box="tertiary" span="8">
              Column Span 8
            </gu-column>
          </gu-row>

          <gu-row variant="primary" skin="large">
            <gu-column gu-box="tertiary" span="9">
              Column Span 9
            </gu-column>
          </gu-row>

          <gu-row variant="primary" skin="large">
            <gu-column gu-box="tertiary" span="10">
              Column Span 10
            </gu-column>
          </gu-row>

          <gu-row variant="primary" skin="large">
            <gu-column gu-box="tertiary" span="11">
              Column Span 11
            </gu-column>
          </gu-row>

          <gu-row variant="primary" skin="large">
            <gu-column gu-box="tertiary" span="12">
              Column Span 12
            </gu-column>
          </gu-row>

      </app-demo-code>
    </app-demo>

  </gu-column>

</gu-row>
